body {
  width: 100%;
  height: 100%;
  margin: 0;
  text-align: center;
}
h1{
  text-align: center;
}
nav a{
  background-color: gray;
  padding-left: 10px;
  padding-right: 10px;
}
#featured-property p{
  width:800px;
  margin: auto;
  line-height: 28px;
}

#details div{
 
  background-color: red;
  width:25%;
 float: left;
}
figcaption{
  font-size: 10px;
}